body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    img {
        width: 30%;  /* 50% of parent container */
        height: auto; /* Maintain aspect ratio */
      }
      
}

header {
    background-color: #46c7a7;
    color: white;
    padding: 20px;
}

h2 {
    color: #46c7a7;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: ##46c7a7;
    color: black;
    padding: 10px;
    border: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #b1f0e0;
}
